<!DOCTYPE html>
<html>

<head>
	<title>Trilogo Superset</title>
	<link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
	<style>
		body {
			width: 650px;
			margin: auto;
		}

		h1 {
			text-align: center;
		}

		.resources>h2 {
			margin-bottom: 0;
		}

		.resource>h3,
		.resource>p {
			display: inline-block;
			margin-bottom: 0.5rem;
		}

		.resource>code {
			display: block;
			background-color: #eff0f1;
			color: #393318;
			padding: 5px;
			font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
			white-space: nowrap;
			overflow-x: auto;
		}

		.read2dream-logo {
			display: block;
			width: 10rem;
			margin: auto;
		}

		form {
			margin-bottom: 1rem;
		}

		.form-group {
			padding-bottom: 1rem;
		}

		label {
			display: block;
		}
	</style>
</head>

<body>
	<h1>Trilogo Superset</h1><img class="read2dream-logo" src="/src/assets/r2d-icon.png">
	
	<p style="text-align: center;">
		This serverless function is used to send metrics to superset dashboard.
	</p>
	
	<section class="resources">
		<h2>Resources</h2>
		<section class="resource">
			<h3>POST /insert-url</h3>
			<p>[add description]</p>
			<!-- <code>curl <span><%= apiUrl %></span>/build-epub -X POST -d '{ "storyQuestions": [{ "response": "John Doe", "genderType": 0 , "sequence": 0 }], "storyId": 2, "extraData": {} }' -H 'accept: application/json; authorization: Bearer "your api token"'</code> -->
		</section>
	</section>
</body>

</html>